.custom-metric {
    max-width: 33vw;
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-weight: bolder;
}

.metric-name {
    text-align: center;
    font-size: 1.9vw;
    font-weight: bold;
}