.grid-design {
    padding-top: 15px;
    padding-bottom: 15px;
}


.list-design {
    max-height: 30vw;
}

.name {
    font-size: 2.1vw;
    text-align: left !important;
}

.rating {
    font-size: 2.1vw;
    text-align: right !important;
    font-weight: 400;
}