@import "tailwindcss"; 

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: "JetBrains Mono", monospace;
}
